body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image: url("brackground.jpg");
}
.special {
  background-color: green;
}	
.text {
	text-align: left;
	padding: 10px;
}
.main a{
color: #ffc;
}
.footer a{
color: #ffc;
}
.sidebar {
  width: 180px;
  position: fixed;
  z-index: 1;
  background-color: #003366;
  overflow-x: hidden;
  padding-top: 20px ;
  
}

.logoTitle a{
	color:#ffc;
}
.logoTitle{
	padding-top: 40px;
	margin: 0 auto;
	text-align:left;
	padding-left: 10px;
}

.sidebar a {
  display: block;
  color: #ffc;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.content {
  margin-top: 20px;
  margin-left: 200px;
  background-color: black;
}
.img {
	height: 40%;
	width: 40%;
	}
.head {
  color: #ffc;
  text-align: center;
}
h1{
	text-align: center; 
	font-family: ; 
	font-size: 70px;
    color: #ffc;
}
h2{
	text-align: left;  
	font-size: 30px;
	padding-left: 10px;
	padding-top: 10px;
}
div.main {
  color: #ffc;
  
  
}
div.animate {
	text-align: center;
}
div.sitemap {
	text-align: left;
}
div.footer {
  color: #ffc;
}
/* Responsive sidebar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* Menu */
.row > .column {
  padding: 0 8px;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  color: black;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */ 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: green;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  background-color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.5s;
}


.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 yellow;
}
/* Event site */
.container-event {
  position: relative;
  width: 25%;
  padding-left: 20px;
}

.event {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.top {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 20px;
}
.bottom {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container-event:hover .event {
  opacity: 0.3;
}

.container-event:hover .middle {
  opacity: 1;
}
.container-event:hover .top {
  opacity: 1;
}
.container-event:hover .bottom {
  opacity: 1;
}
.text-event {
  background-color: #4CAF50;
  color: white;
  width: 100%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.wrapper {
  display: inline-flex;
  justify-content: center;
}
.wrapper i {
  padding: 20px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
  color: #FFFC00;
}
.wrapper a:nth-child(2) {
  color: #c08d64;
}
.wrapper a:nth-child(3) {
  color: #C52F30;
}
.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
.hover-h:hover {
  box-shadow: 0 4px 50px 0 white;
}
#main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}